<div ng-controller="View1Ctrl" xmlns:Score="http://www.w3.org/1999/xhtml">

    <div id="footballField">
        <table>
            <tr>
                <td>
                    <div id="keeper" ng-repeat="i in team.keepers | filter: playingFilter">
                        <ul id="navlist" class="img-list">
                            <li>
                                <img class="thumbnail" ng-src="{{getShirt(i)}}" title="{{i.forename}} {{i.surname}} ({{i.club}}) : algorithm score: {{i.algorithmScore}}">
                                <div ng-show="isCaptain(i)"><img style="text-align:center" src="captain.png"><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></div>
                                <div ng-hide="isCaptain(i)"><p><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></p></div>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="{{getCSS(2)}}" ng-repeat="i in team.defence | filter: playingFilter">
                        <ul id="navlist" class="img-list">
                            <li>
                                <img class="thumbnail" ng-src="{{getShirt(i)}}" title="{{i.forename}} {{i.surname}} ({{i.club}}) : algorithm score: {{i.algorithmScore}}">
                                <div ng-show="isCaptain(i)"><img style="text-align:center" src="captain.png"><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></div>
                                <div ng-hide="isCaptain(i)"><p><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></p></div>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="{{getCSS(3)}}" ng-repeat="i in team.midfield | filter: playingFilter">
                        <ul id="navlist" class="img-list">
                            <li>
                                <img class="thumbnail" ng-src="{{getShirt(i)}}" title="{{i.forename}} {{i.surname}} ({{i.club}}) : algorithm score: {{i.algorithmScore}}">
                                <div ng-show="isCaptain(i)"><img style="text-align:center" src="captain.png"><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></div>
                                <div ng-hide="isCaptain(i)"><p><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></p></div>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="{{getCSS(4)}}" ng-repeat="i in team.attack | filter: playingFilter">
                        <ul id="navlist" class="img-list">
                            <li>
                                <img class="thumbnail" ng-src="{{getShirt(i)}}" title="{{i.forename}} {{i.surname}} ({{i.club}}) : algorithm score: {{i.algorithmScore}}">
                                <div ng-show="isCaptain(i)"><img style="text-align:center" src="captain.png"><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></div>
                                <div ng-hide="isCaptain(i)"><p><font color="white">{{getSurname(i)}} ({{i.weekScore}} pts)</font></p></div>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <p align="middle"><b>Total Value: £{{team.totalValue}}M : Score: {{team.weekScore}} : Formation: {{formatFormation()}}</b></p>

    <p>
        <img src="bench.png" align="middle" />
        <span ng-repeat="i in team.subs" ng-class="col.colIndex()"><img class="thumbnail" ng-src="{{getShirt(i)}}" title="{{i.forename}} {{i.surname}} ({{i.club}}) : algorithm score: {{i.algorithmScore}}">{{i.surname}} ({{i.weekScore}} pts)</span>
    </p>

    <table>
        <tr>
            <td>Week: <input type="text" ng-model="week" maxlength="2" size="2"/></td>
            <td>
                <label>Formation: </label>
                <select name="formSelect" ng-model="formation">
                    <option value="optimal">optimal</option>
                    <option value="541">5-4-1</option>
                    <option value="532">5-3-2</option>
                    <option value="523">5-2-3</option>
                    <option value="451">4-5-1</option>
                    <option value="442">4-4-2</option>
                    <option value="433">4-3-3</option>
                    <option value="352">3-5-2</option>
                    <option value="343">3-4-3</option>
                </select>
            </td>
            <td><button ng-click="getOptimalTeam()">I'm feeling {{getWord()}}!</button></td>
        </tr>
    </table>
</div>