#footballField {
    position: relative;
    background-image: url("pitch2.jpg");
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 795px;
}

#keeper {
    position: relative;
    top: 70px;
    left: 0px;
}

#pos3 {
    position: relative;
    top: 50px;
}

#pos4 {
    position: relative;
    top: 40px;
}

#pos5 {
    position: relative;
    top: 30px;
}

#navlist li {
    display: inline-block;
    height: 20px;
    list-style-type: none;
    padding-right: 20px;
}

.thumbnail {
    width:40px;
    height:40px;
    vertical-align:middle;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}
